# Only files required for the distributable package are eligible for Git.
*
!/.gitignore
!/package.json
!/package.json.meta
!/LICENSE
!/LICENSE.meta
!/Editor.meta
!/Editor/
/Editor/*
!/Editor/UI.meta
!/Editor/com.amari-noa.amari-unity-package-registry-manager.editor.asmdef
!/Editor/com.amari-noa.amari-unity-package-registry-manager.editor.asmdef.meta
!/Editor/UI/
/Editor/UI/*
!/Editor/UI/RegistryCredentialsSettingsProvider.cs
!/Editor/UI/RegistryCredentialsSettingsProvider.cs.meta

!/Editor/UI/RegistryCredentials.uxml
!/Editor/UI/RegistryCredentials.uxml.meta
!/Editor/UI/RegistryCredentialsRow.uxml
!/Editor/UI/RegistryCredentialsRow.uxml.meta
!/Editor/UI/RegistryCredentials.uss
!/Editor/UI/RegistryCredentials.uss.meta
!/Editor/UI/RegistryCredentialsScopeRow.uxml
!/Editor/UI/RegistryCredentialsScopeRow.uxml.meta

!/Editor/UI/RegistrySettingsJson.cs
!/Editor/UI/RegistrySettingsJson.cs.meta

!/Editor/UI/RegistryAddWindow.cs
!/Editor/UI/RegistryAddWindow.cs.meta
!/Editor/UI/RegistryAddWindow.uxml
!/Editor/UI/RegistryAddWindow.uxml.meta
